/*
  New Tab by TheDragonRing (thedragonring.me)
  Copyright © 2017 TheDragonRing - Creative Commons Attribution 4.0 International License
*/

/* GLOBAL */

@charset "UTF-8";

* {
  z-index: 1;
  box-sizing: border-box;
}

html:before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  background-size: cover;
  -moz-filter: blur(1px);
  -webkit-filter: blur(1px);
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-image: url("background.png");
}

body {
  margin: 150px 0px 0px 0px;
}

::selection {
  color: #fff;
  background: #a61419;
}

::-moz-selection {
  color: #fff;
  background: #a61419;
}

[fadeIn], .startHidden {
  visibility: hidden;
}

header {
  top: 1%;
  width: 100%;
  padding: 15px;
  position: fixed;
}

header #github {
  left: 1%;
  color: #fff;
  text-align: left;
  position: absolute;
  text-decoration: none;
  font: 15px sans-serif;
  text-transform: uppercase;
}

footer {
  bottom: 1%;
  width: 100%;
  padding: 15px;
  position: fixed;
}

footer #copyright {
  left: 1%;
  color: #fff;
  text-align: left;
  position: absolute;
  text-decoration: none;
  font: 15px sans-serif;
  text-transform: uppercase;
}

/* MAIN */

h1 {
  width: 75%;
  color: white;
  margin: auto;
  text-align: center;
  font: 150px sans-serif;
}

h2 {
  width: 75%;
  color: white;
  margin: auto;
  padding: 50px;
  text-align: center;
  font: 50px sans-serif;
  border-bottom: 3px solid white;
}

div {
 width: 100%;
}

#searchBar {
  z-index: 2;
  width: 50%;
  padding: 15px;
  display: block;
  margin: 50px auto;
  border-radius: 5px;
  font: 30px cursive;
  background-color: none;
  border: 1px solid #cfcfcf;
}

input:focus {
  outline: none;
  border: 1px solid #000;
}

/* NOTES */

footer #openNotes {
  right: 1%;
  color: #fff;
  text-align: left;
  position: absolute;
  text-decoration: none;
  font: 15px sans-serif;
  text-transform: uppercase;
}

#notesTab {
  top: 0;
  right: 0;
  width: 45%;
  z-index: 3;
  height: 100%;
  padding: 30px 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  background-color: #fff;
  border-left: 7.5px solid #cfcfcf;
}

#notesTab textarea {
  width: 100%;
  resize: none;
  outline: none;
  height: 92.5%;
  padding: 15px;
  border-radius: 5px;
  font: 25px sans-serif;
  border: 1px solid #000;
}

#notesTab #saveNotes {
  color: #fff;
  width: 100%;
  padding: 7.5px;
  margin: 15px 0px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  font: 25px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #a61419;
}
